.boardRow {
    background-color: blue;
}
table tr {
    background-color: green;
}
td {
    background-color: orange;
    width: 65px;
    height: 65px;
}
body {
    height: 100vh;
    width: 100vw;
}
.noPieceHere {
    background-color: khaki;
}
.redPiece {
    border-radius: 45px;
    border: solid 4px;
    border-color: red;
    background-color: red;
    width: 48px;
    height: 48px;
    margin: auto;
}
.blackPiece {
    border-radius: 45px;
    border: solid;
    border-color: #4A456A;
    background-color: #4A456A;
    width: 48px;
    height: 48px;
    margin: auto;
}
.king {
    border-color: yellow;
    border-width: 4px;
}
.redTurnText {
    color: red;
}
.blackTurnText {
    color: black;
}
#divider {
}
section {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 520px;
}
.notTurn {
    opacity: .3;
}
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background-color: #6EB5FF;
}
.redTurn {
    color: red;
}
.blackTurn {
    color: black;
}
.moveOption {
    border-radius: 100%;
}
#boardWrap {
    display: flex;
    height: auto;
}
#takenTop { 
    display: flex;
    flex-direction: column;
    width: 73px;
    align-self: flex-start;
    border: solid #DBFFD6;
    height: 120px;
    background-color: #DBFFD6;
    box-shadow: inset 0px 0px 17px 10px rgba(6, 6, 6, 0.35);
}
#takenBottom {
    display: flex;
    flex-direction: column-reverse;
    width: 73px;
    align-self: flex-end;
    border: solid #DBFFD6;
    height: 120px;
    background-color: #DBFFD6;
    box-shadow: inset 0px 0px 17px 10px rgba(6, 6, 6, 0.35);
    /* width: 73px; */
}
.takenRed {
   height: 10px;
   background-color: red;
   width: 100%;
   border-radius: 3px;
   box-shadow: inset 1px 0px 3px 2px rgba(6, 6, 6, 0.2);
}
.takenBlack {
   height: 10px;
   background-color: #4A456A;
   width: 100%;
   border-radius: 3px;
   box-shadow: inset 1px 0px 3px 2px rgba(6, 6, 6, 0.2);
}
